<%- include('partials/head.ejs') %>
	<title><%= title %> | Fridge on a cloud</title>
</head>
<body>
	<%- include('partials/sidebar.ejs') %>

	<div class="category_detail">

    <h1><%= title %></h1>
    
      <p><%= category.description %> </p>
    
      <% if (products.length > 0) { %>
       
        <ul class="category_detail--products">
          <% for( let i = 0; i < products.length; i++ ) { %>
            <li>
              <a href="<%= products[i].url %> "><%= products[i].name %></a>
            </li>    
          <% } %>
        </ul>
    
      <% } else { %>
        <p>No products of this category are in your fridge</p>
      <% } %>

  </div>

  <% if (typeof errors != 'undefined') { %>
    <ul>
        <% for( let i = 0; i < errors.length; i++ ) { %>
            <li><%= errors[i].msg %></li>
        <% } %>
    </ul>
  <% } %>

<%- include('partials/footer.ejs') %>