<%- include('partials/head.ejs') %>
	<title><%= title %> | Fridge on a cloud</title>
</head>
<body>
	<%- include('partials/sidebar.ejs') %>
	<h1><%= title %></h1>
	
	<section class="cards-container">

    <% for( let i = 0; i < products.length; i++ ) { %>
     <div class="card">

      <div class="card--image-container">

        <% if (products[i].image) { %>
          <a href="<%= products[i].url %>">
            <img src="<%= products[i].image.imageFolder + products[i].image. filename200 %>" alt="" height="150px" width="150px">
          </a>
        <% } else { %>
          <a href="<%= products[i].url %>">
            <img src="" alt="" height="150px" width="150px">
          </a>
        <% } %>       
  
      </div>

			<div class="card--name-container">

				<p class="name-container--name"><a href="<%= products[i].url %>">
          <%= products[i].name %>
        </a></p>

				<div class="name-container--details">
					<p class="name-container--categories">
            <% if (products[i].category) { %>
             
              <a href="<%= products[i].category.url %>"><%= products[i].category.name %></a>   
            <% } %>           
          </p>
					<p class="name-container--quantity">
            <%= products[i].quantity %>
          </p>
				</div>

			</div>

		 </div>    
    <% } %>

	</section>	

<%- include('partials/footer.ejs') %>